// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add purple and its invert
$purple: hsl(275,87%,45%);
$purple-invert: findColorInvert($purple);
// Add a serif family
$family-serif: "Droid Sans", "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $purple;
$primary-invert: $purple-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif; 

// 5. Add new color variables to the color map.
@import "bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "purple":($purple, $purple-invert),
);
$colors: map-merge($colors, $addColors);

// 6. Add custom transitions
.modal{
  opacity: 1;
  transition: opacity 300ms ease-in-out
}
.column:hover{
  opacity: .8;
}

// 7. Import the rest of Bulma
@import 'bulma/bulma';